﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="NavGen.ascx.cs" Inherits="http5101_finalassignment_delanhamasoor.NavGen" %>
             <asp:SqlDataSource runat="server" id="pages_nav_select" 
                ConnectionString="<%$ ConnectionStrings:pages_sql_db %>">
            </asp:SqlDataSource>
            <asp:DataGrid id="navPosts_list" CssClass="nav_archive" AutoGenerateColumns="false" runat="server">
            </asp:DataGrid>