﻿#links-aside table, #links-aside td, #links-aside tr {
    border: none;
}

#links-aside {
    margin-top:15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid black;
}

#new_post {
    padding: 5px;
}

.pageManager table, .pageManager td, .pageManager tr {
    border: none;
}

.pageManager tr:first-child {
    color: white;
    background: black;
}

.pageManager td {
    padding-left: 5px;
    padding-right: 5px;
}

#MainContent_author, #MainContent_date {
    font-size: 16pt;
    margin: 5px;
    font-style: italic;
}

#MainContent_post {
    white-space: pre-wrap;
}

